<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('components/head', { title: 'Home'}) -%> 
</head>
<body>
  <div class="container mt-5">
    <h1>Recording Home</h1>
    <button type="button" class="btn btn-primary" id="recordingBtn">Start Recording</button>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="/js/AgoraRTC_N-4.7.3.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const recordingBtn = document.getElementById('recordingBtn')
      const audioData = {
        track: null,
        channels: []
      }
        
      recordingBtn.addEventListener('click', function () {
        if (!audioData.track) {
          //start recording
          AgoraRTC.createMicrophoneAudioTrack().then((track) => {
            audioData.track = track
            recordingBtn.innerText = 'Stop'
            audioData.track.setAudioFrameCallback((buffer) => {
              for (let channel = 0; channel < buffer.numberOfChannels; channel += 1) {
                // Float32Array with PCM data
                const currentChannelData = buffer.getChannelData(channel);
                console.log("PCM data in channel", channel, currentChannelData);
                audioData.channels.push(currentChannelData)
              }
            })
          })
        } else {
          //stop recording
          audioData.track.setAudioFrameCallback(null)
          audioData.track.close()
          audioData.track = null
          recordingBtn.innerText = 'Start Recording'
        }
      })
    })
  </script>
</body>
</html>